*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
.env*
.vscode/
Thumbs.db
*.tmp
*.swp
.kotlin
.air
.jks
